table.formdata {
	border: 1px solid #5F6F7E;
	border-collapse: collapse;
	margin: 10px;
	width: 90%;
}

table.formdata th {
	border: 1px solid #5F6F7E;
	background-color: #E2E2E2;
	color: #000000;
	text-align: left;
	font-weight: bold;
	padding: 2px 4px 2px 4px;
	margin: 0;
	font-style: italic;
	font-size: smaller;
}

table.formdata td {
	margin: 0;
	padding: 0;
	border: 1px solid #E2E2E2;
	height: 100%;
	padding-left: 5px;
	padding-right: 5px;
}

table.formdata input, textarea {
	color: black;
	width: 100%;
	height: 100%;
	padding: 2px 4px 2px 4px;
	margin: 0;
	border: 2px solid #ffffff;
}